.logo {
  display: block;
  font-size: 30px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #ffffff;
}
.nav-link {
  padding: 10px 50px;
  border: 5px #ffffff solid;
  margin: 20px auto;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 100px;
  text-align: center;
}
.nav-link:hover {
  background-color: #ffffff;
  color: #aaaaaa
}
